body .tblog {
  border: 20px solid #bdc3c7;
  margin: 20px auto;
  width: 80%;
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 700px;
  font-size: 16px;
}

.tblog h2 {
  font-size: 2rem;
}

.tblog.quote {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}

.tblog .date {
  color: #5096d3;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.tblog hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 01);
}
